*.d
*.o
*.P
*.map
*.axf
*.bin
*.jlink
*.emSession
*.elf
*.ind
.env
.settings/
.idea/
.gdb_history
_build
# coverity intermediate files
cov-int
# cppcheck build directories
*-build-dir
/_bin/
/.vscode/
compile_commands.json